@use "/src/styles/variables" as *;

.button {
  display: inline-flex;
  min-height: 52px;
  padding: $space-s $space-l;
  justify-content: center;
  align-items: center;
  gap: $space-xxs;

  border: none;
  border-radius: $border-radius;
  background: $button-primary-bg;

  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: $button-primary-text;
}

.hovered {
  background: $button-primary-bg-hover;
}

.disabled {
  background: $button-primary-bg-disabled !important;
}
