@use "/src/styles/variables" as *;

.card_container {
  cursor: pointer;
  max-width: 360px;
  display: inline-flex;
  padding-bottom: $space-xl;
  flex-direction: column;
  align-items: flex-start;
  gap: $space-xl;

  border-radius: $border-radius;
  background: $card-bg;

  .card_header {
    width: 100%;
    background-color: $card-bg;

    img {
      width: 100%;
    }
  }

  .card_body {
    width: 100%;
    display: flex;
    padding: 0px $space-xs;
    flex-direction: column;
    align-items: flex-start;
    gap: $space-l;
  }

  .card_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: $space-xxs;
    align-self: stretch;
  }

  .card_footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    span {
      display: flex;
      align-items: center;
    }
  }
}

.card_container:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
