@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.card_container {
  cursor: pointer;
  max-width: 360px;
  padding-bottom: $space-xl;
  @include flex(row, flex-start, flex-start, $space-xl);
  border-radius: $border-radius;
  background: $card-bg;

  transition: box-shadow ease-in-out 0.3s;

  .card_header {
    width: 100%;
    background-color: $card-bg;

    img {
      width: 100%;
    }
  }

  .card_body {
    width: 100%;
    padding: 0px $space-xs;
    @include flex(column, flex-start, flex-start, $space-l);
  }

  .card_text {
    @include flex(column, flex-start, center, $space-xxs);
    align-self: stretch;
  }

  .card_footer {
    width: 100%;
    @include flex(row, center, space-between, 0);

    span {
      display: flex;
      align-items: center;
    }
  }
}

.card_container:hover {
  box-shadow: 0px 6px 10px 0px rgba(0, 0, 0, 0.25);
}
