@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.header {
  width: 100%;
  height: 90px;
  border-radius: $border-radius;
  border-bottom: 2px solid $line-color;
  background: $brand-white;
}

.header_content {
  height: 100%;
  @include flex(row, center, flex-start, 0);
}

.header_nav {
  margin-inline: auto;
}

.header_profile {
  @include flex(row, center, flex-start, $space-m);
}
