@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.dropdown_container {
  position: relative;
  width: 300;
  @include flex(row, flex-start, flex-start, $space-xxs);
}

.dropdown {
  position: absolute;
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  height: fit-content;
  @include flex(column, flex-start, flex-start, none);
  overflow: hidden;

  outline: none;

  border: none;
  border-radius: $border-radius;
  background: #fff;

  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);

  li {
    cursor: pointer;
    width: 100%;
    list-style: none;
    color: $text-primary;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    outline: none;
    padding: $space-s $space-xs;
  }

  li:hover {
    color: $text-accent;
  }

  .selected {
    color: $text-accent;
  }
}
