@use "/src/styles/variables" as *;

.link {
  width: 100px;
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: $text-primary;
}

.link_active {
  color: $text-accent !important;
  border-bottom: 3px solid $brand;
}
